.advantages {
	&__list {
		margin-bottom: -12px;
		margin-top: -12px;
	}

	&__col {
		display: flex;
		align-items: stretch;
		justify-content: flex-start;
		flex: 0 0 auto;
		padding-bottom: 12px;
		padding-top: 12px;
	}

	&__item {
		height: 100%;
	}

	&__item-icon {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		width: 74px;
		height: 74px;
		margin: 0 auto -37px;
		z-index: 1;
		border-radius: 50%;
		background: var(--green);
		box-shadow: 0 0 0 7px var(--light-color);
		fill: var(--light-color);
	}

	&__item-content {
		display: flex;
		align-items: flex-start;
		justify-content: center;
		padding: 65px 35px 35px;
		border-radius: 15px;
		background: var(--light-gray);
		font-size: 16px;
		line-height: 22px;
		font-weight: 700;
		text-align: center;
		text-transform: uppercase;

		@include mobile {
			min-height: 190px;
		}

		@include small-tablet {
			font-size: 18px;
			line-height: 30px;
		}

		p {
			margin: 0;
			padding: 0;
		}
	}
}