.form {
	&__modal {
		width: 245px;
		padding: 0;

		@include mobile {
			padding: 20px 0;
			width: 400px;
		}
	}

	&__field {
		margin-bottom: 15px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__btn-success {
		display: none;
		overflow: hidden;

		.success & {
			display: block;
		}
	}

	&__btn-default {
		display: block;
	}

	.btn {
		font-family: "Proxima Nova Lt", Arial, sans-serif;
		font-size: 16px;
		font-weight: 600;
	}

	&--line {
		width: 100%;

		@include small-tablet {
			width: auto;
		}

		.form__field {
			margin-right: 0;
			margin-bottom: 15px;
			width: 100%;

			@include small-tablet {
				width: auto;
				margin-right: 15px;
				margin-bottom: 0;
			}

			&:last-child {
				margin-right: 0;
			}
		}

		.form__input {
			min-width: 210px;
		}

		.btn {
			width: 100%;
			min-width: 160px;

			@include small-tablet {
				width: auto;
			}
		}

	}

	&__input {
		padding: 10px 30px;
		min-height: 55px;
		height: 100%;
		width: 100%;
		border-radius: 26px;
		border: 1px solid var(--green);
		background: none;
		font-family: "Proxima Nova Lt", Arial, sans-serif;
		font-size: 16px;
		font-weight: 600;
		color: var(--base);
		transition: all .2s linear;

		&:focus {
			outline: none;
			box-shadow: var(--shadow-green);
		}

		&::placeholder {
			font-family: "Proxima Nova Lt", Arial, sans-serif;
			font-size: 16px;
			font-weight: 600;
		}
	}
}