.location-link {
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 700;
	color: var(--green);
	cursor: pointer;

	&__icon {
		width: 12px;
		height: 16px;
		margin-right: 10px;
		fill: var(--green);
	}
}