.logo {
	flex: 0 0 auto;
	display: block;
	width: 85px;
	height: 70px;
	background: url('/img/logo.svg') no-repeat right;
	background-size: contain;

	@include small-tablet {
		height: 85px;
		width: 150px;
		margin-right: 13px;
	}

	@include desktop {
		width: 200px;
	}
}