.logo {
	flex: 0 0 auto;
	display: block;
	width: 85px;
	height: 70px;
	background: url('/img/logo.svg') no-repeat left;
	background-size: contain;

	@include small-tablet {
		margin-right: 20px;
		width: 200px;
	}
}