.top-menu {
	display: none;
	position: relative;
	height: 70px;
	background: var(--green);
	overflow: hidden;

	@include tablet {
		display: block;
	}

	&:before {
		position: absolute;
		width: 50%;
		height: 100%;
		right: 0;
		top: 0;
		background: var(--green-dark);
		content: '';
	}

	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		position: relative;
	}

	&__list {
		flex: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 70px;
		padding: 0;
		margin: 0 -28px;
		background: var(--green);
		z-index: 1;
		list-style: none;
	}

	&__item {
		flex: 0 0 auto;
		padding: 0 28px;
		border-right: 1px solid var(--base-alpha);

		&:last-child {
			border: 0;
		}
	}

	&__search {
		flex: 0 0 auto;
		height: 70px;
		width: 42px;
		background: var(--green-dark);
		z-index: 1;
	}

	&__link {
		line-height: 22px;
		color: var(--light-color);
		border-bottom: 1px solid transparent;
		transition: border .2s ease-in-out;

		&:hover {
			border-bottom-color: var(--light-color);
		}
	}
}