<nav class="content-box">
    <div class="container">
        <div class="content-list-wrapper">
            <div class="content-list-wrapper__content">
                <h3>Текст текст:</h3>
                <ul class="content-box__ul">
                    <li>текст текст</li>
                    <li>текст текст текст текст</li>
                    <li>текст</li>
                    <li>текст текст текст текст текст текст текст текст текст текст текст текст</li>
                    <li>текст текст текст текст текст текст текст текст текст текст</li>
                    <li>текст текст текст текст текст текст текст текст текст текст текст текст текст текст</li>
                </ul>
            </div>
            <div class="img-box-radius-10 content-list-wrapper__img">
                <img src="/img/img-under-list.png" alt="проверка зрения через аппарат">
            </div>
        </div>
    </div>
</nav>