<section class="section">
    <div class="content-box">
        <div class="container">
                <div class="border-box bg-box content-box__grid-with-right-img">
                <div class="content-box__info">
                    <h3>Вопрос вопрос вопрос вопрос вопрос вопрос
                        вопрос?</h3>

                    <ol class="content-box__ol">
                        <li>
                            Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст
                        </li>
                        <li>Текст Текст Текст Текст Текст Текст Текст</li>
                        <li>Текст Текст Текст Текст Текст Текст Текст Текст</li>
                        <li>Текст Текст Текст Текст Текст Текст Текст Текст Текст</li>
                        <li>Текст Текст Текст Текст Текст Текст</li>
                    </ol>

                    <p class="p-custom">Текст текст текст текст текст текст текст текст текст текст текст текст текст
                        текст текст текст текст
                        текст
                        текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
                        текст
                        текст
                        текст текст текст текст текст текст текст текст текст текст текст текст .
                    </p>
                </div>
                <div class="content-box__img-right">
                    <img src="/img/img-box-question.png" alt="проверка зрения">
                </div>
            </div>
            <div class="d-flex justify-content-center content-box__buttons">
                <button data-fancybox data-src="#form-dialog" class="btn btn--with-icon btn--big">
                    <span class="btn__content">Записаться на проверку </span>
                    <i class="btn__icon btn__icon btn__icon--icon-arrow">
                        <svg viewBox="0 0 10 17" class="svg-icon">
                            <use xlink:href="/img/sprite.svg#arrow"></use>
                        </svg>
                    </i>
                </button>
            </div>
        </div>
    </div>
</section>