<footer class="footer">
    <div class="container">
        <div class="footer__wrapper">
            <div class="footer__contacts">
                <div class="footer__contacts-actions">
                    <a href="##" class="footer__logo">
                        <img src="/img/logo.svg" alt="Логотип">
                    </a>
                    <a href="tel:+7 (800) 111-111-1" class="link-with-icon">
                        <i class="link-with-icon__icon">
                            <svg viewBox="0 0 16 17" class="svg-icon">
                                <use xlink:href="/img/sprite.svg#phone"></use>
                            </svg>
                        </i>
                        +7 (800) 111-111-1
                    </a>
                    <a href="mailto:info@vimeo.ru" class="link-with-icon">
                        <i class="link-with-icon__icon">
                            <svg viewBox="0 0 16 17" class="svg-icon">
                                <use xlink:href="/img/sprite.svg#email"></use>
                            </svg>
                        </i>
                        info@vimeo.ru
                    </a>
                    <a href="##" class="link-with-icon">
                        <i class="link-with-icon__icon">
                            <svg viewBox="0 0 16 17" class="svg-icon">
                                <use xlink:href="/img/sprite.svg#question"></use>
                            </svg>
                        </i>
                        Задать вопрос
                    </a>
                    <a href="##" class="link-with-icon">
                        <i class="link-with-icon__icon">
                            <svg viewBox="0 0 16 17" class="svg-icon">
                                <use xlink:href="/img/sprite.svg#order"></use>
                            </svg>
                        </i>
                        Оставить отзыв
                    </a>
                </div>
                <div class="footer__contacts-text-bottom">
                    текст текст текст текст текст текст текст текст текст текст текст текст текст
                </div>
            </div>
            <div class="footer__menu">
                <div class="footer__menu-groups">
                    <div class="footer__menu-group">
                        <div class="footer__menu-title">Заголовок</div>
                        <ul class="footer__menu-list">
                            <li class="footer__menu-item">
                                <a href="##" class="footer__menu-link">Название</a>
                            </li>
                            <li class="footer__menu-item">
                                <a href="##" class="footer__menu-link">Название Название</a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer__menu-group">
                        <div class="footer__menu-title">Заголовок</div>
                        <ul class="footer__menu-list">
                            <li class="footer__menu-item">
                                <a href="##" class="footer__menu-link">Название</a>
                            </li>
                            <li class="footer__menu-item">
                                <a href="##" class="footer__menu-link">Название Название</a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer__menu-group">
                        <div class="footer__menu-title">Заголовок</div>
                        <ul class="footer__menu-list">
                            <li class="footer__menu-item">
                                <a href="##" class="footer__menu-link">Название</a>
                            </li>
                            <li class="footer__menu-item">
                                <a href="##" class="footer__menu-link">Название Название</a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer__menu-group">
                        <div class="footer__menu-title">Заголовок</div>
                        <ul class="footer__menu-list">
                            <li class="footer__menu-item">
                                <a href="##" class="footer__menu-link">Название</a>
                            </li>
                            <li class="footer__menu-item">
                                <a href="##" class="footer__menu-link">Название Название</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__company-info">
        <div class="container">
            <a href="##" class="policy">Политика конфиденциальности</a>
            <div class="copy">© Все права защищены авторским правом</div>
        </div>
    </div>
</footer>
