<div class="is-hidden" id="form-dialog">
    <div class="form form__modal">
        <div class="form__field">
            <input type="text" class="form__input" placeholder="Введите свое имя" value="">
        </div>
        <div class="form__field">
            <input type="text" class="form__input" placeholder="Введите свой e-mail" value="">
        </div>
        <div class="form__field form__field--button">
            <a href="##" class="btn btn--md btn--full-w">
                <span class="btn__content">отправить</span>
            </a>
        </div>
    </div>
</div>