<header class="header">
    <div class="container">
        <div class="header__wrapper">
            <div class="logo" href="##"></div>
            <div class="header__info-location info-location">
                <div class="info-location__info-top">
                    Текст Текст
                </div>
                <div class="info-location__info-location location-link">
                    <i class="location-link__icon">
                    <svg viewBox="0 0 14 16" class="svg-icon">
                        <use xlink:href="/img/sprite.svg#location"></use>
                    </svg>
                    </i>
                    <span class="location-link__content">
                        Текст (10)
                    </span>
                </div>
                <div class="info-location__info-count">текст (10)</div>
            </div>
            <div class="header__order-btn">
                <button data-fancybox data-src="#form-dialog" class="btn btn--border order-btn">
                        <span class="order-btn__letters">
                        <span class="order-btn__words-big">Ш</span>
                        <span class="order-btn__words-big">Б</span>
                        <span class="order-btn__words-small">Н</span>
                        <span class="order-btn__words-small">М</span>
                        <span class="order-btn__words-small">К</span>
                    </span>

                    <span class="btn__content">Запишитесь на проверку</span>
                </button>
            </div>
            <div class="header__contacts">
                <div class="header__phone js-contact-toggle">
                    <i class="header__phone-icon">
                        <svg viewBox="0 0 16 17" class="svg-icon">
                            <use xlink:href="/img/sprite.svg#phone"></use>
                        </svg>
                    </i>
                </div>
                <div class="header__contacts-wrapper js-contact-modal">
                    <a href="tel:+7(800)1111111" class="header__contacts-phone">+7 (800) 111-111-1</a>
                    <span data-fancybox data-src="#callMeModal" class="header__contacts-link-call">Перезвоните мне</span>
                </div>
            </div>
            <div class="header__actions">
                <a href="##" class="likes">
                    <i class="likes__icon">
                        <svg viewBox="0 0 14 16" class="svg-icon">
                            <use xlink:href="/img/sprite.svg#heart"></use>
                        </svg>
                    </i>
                    <span class="likes__count">
                        7
                    </span>
                </a>
                <a href="##" class="cart">
                    <i class="cart__icon">
                        <svg viewBox="0 0 30 28" class="svg-icon">
                            <use xlink:href="/img/sprite.svg#cart"></use>
                        </svg>
                    </i>
                    <span class="cart__count">
                        3
                    </span>
                </a>
            </div>
        </div>
    </div>
</header>
