<div class="mob-nav-actions">
    <div class="container">
        <div class="mob-nav-actions__wrapper">
            <div class="mob-nav-actions__search-header search-header">
                <button class="search-header__btn js-search-header">
                    <i class="search-header__icon">
                        <svg viewBox="0 0 24 24" class="svg-icon">
                            <use xlink:href="/img/sprite.svg#search"></use>
                        </svg>
                    </i>
                </button>
                <div class="search-header__form-box js-search-header-form">
                    <form id="search-header-form" action="" class="search-header__form">
                        <input type="text" placeholder="Поиск" value="" class="search-header__input mob-nav-actions__search-header-input">
                    </form>
                </div>
            </div>
            <div class="buger">
                <div class="burger__button js-open-left-menu" data-burger>
                    <i class="burger__button-icon"></i>
                </div>
            </div>
        </div>
    </div>
</div>