<div class="mobile-menu" data-menu>
    <div class="mobile-menu__wrapper">
        <div class="container">
            <div class="info-location">
                <div class="info-location__info-top">
                    Текст Текст
                </div>
                <div class="info-location__info-location location-link">
                    <i class="location-link__icon">
                        <svg viewBox="0 0 14 16" class="svg-icon">
                            <use xlink:href="/img/sprite.svg#location"></use>
                        </svg>
                    </i>
                    <span class="location-link__content">
                        Текст (10)
                </span>
                </div>
                <div class="info-location__info-count">текст (10)</div>
            </div>
            <nav class="mobile-menu__list">
                <a href="##" class="mobile-menu__list-link">Текст текст</a>
                <a href="##" class="mobile-menu__list-link selected">Текст текст</a>
                <a href="##" class="mobile-menu__list-link">Текст текст</a>
                <a href="##" class="mobile-menu__list-link">Текст текст</a>
                <a href="##" class="mobile-menu__list-link">Текст текст</a>
            </nav>
            <div class="close-btn js-close-mobile-menu">
                <i class="close-btn__icon"></i>
            </div>
        </div>
    </div>
</div>