<section class="root-banner">
    <div class="container">
        <div class="root-banner__wrapper">
            <div class="root-banner__content content-box">
                @include('breadcrumbs.html')
                <h1 data-text-anim data-aos="custom" data-aos-once="true">Заголовок текст текст текст текст текст текст</h1>
                <p class="text-opacity-60">
                    текст текст, текст текст текст текст текст текст текст текст текст текст текст текст текст текст
                    текст
                    текст
                    текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
                    текст
                    текст.
                </p>
                <p class="fst-italic">
                    Текст – текст текст текст текст текст , текст текст текст текст текст текст текст текст текст текст
                    текст текст текст текст текст текст.
                </p>
                <button data-fancybox data-src="#form-dialog"
                        class="btn btn--border btn--md btn--white text-uppercase">
                    <span class="btn__content">Записаться на проверку </span>
                </button>
            </div>
            <div class="root-banner__img">
                <img src="/img/banner-root.png" alt="Картинка главного банера">
            </div>
        </div>
    </div>
</section>