<section class="section">
    <div class="content-box">
        <div class="container">
            <div class="slider js-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="slider__item">
                            <a href="/img/slide-1.png" class="slider__img-link" data-fancybox
                               data-caption="Single image">
                                <div class="slider__img-wrapper">
                                    <img src="/img/slide-1.png" alt="Слайд 1" class="slider__img" loading="lazy">
                                </div>
                            </a>
                            <div class="slider__content">
                                <h4>Вопрос вопрос вопрос?</h4>
                                <p>Текст Текст Текст Текст Текст Текст </p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="slider__item">
                            <a href="/img/slide-2.png" class="slider__img-link" data-fancybox
                               data-caption="Single image">
                                <div class="slider__img-wrapper">
                                    <img src="/img/slide-2.jpg" alt="Слайд 2" class="slider__img" loading="lazy">
                                </div>
                            </a>
                            <div class="slider__content">
                                <h4>Вопрос вопрос вопрос?</h4>
                                <p>Текст Текст Текст Текст Текст Текст </p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="slider__item">
                            <a href="/img/slide-3.png" class="slider__img-link" data-fancybox
                               data-caption="Single image">
                                <div class="slider__img-wrapper">
                                    <img src="/img/slide-3.png" alt="Слайд 3" class="slider__img" loading="lazy">
                                </div>
                            </a>
                            <div class="slider__content">
                                <h4>Вопрос вопрос вопрос?</h4>
                                <p>Текст Текст Текст Текст Текст Текст </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>