<section class="section section--inner bg-box">
    <div class="content-box">
        <div class="container">
            <h3>Заголовок</h3>
            <div class="slider js-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide swiper-slide-1">
                        <div class="slider__item">
                            <a href="/img/slide-1.png" class="slider__img-link" data-fancybox
                               data-caption="Single image">
                                <i class="slider__img-eclipse">
                                    <img src="/img/eclipse.svg" alt="">
                                </i>
                                <div class="slider__img-wrapper">
                                    <img src="/img/slide-1.png" alt="Слайд 1" class="slider__img" loading="lazy">
                                </div>
                            </a>
                            <div class="slider__content">
                                <h4>Вопрос вопрос вопрос?</h4>
                                <p>Текст Текст Текст Текст Текст Текст </p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide swiper-slide-2">
                        <div class="slider__item">
                            <a href="/img/slide-2.png" class="slider__img-link" data-fancybox
                               data-caption="Single image">
                                <i class="slider__img-eclipse">
                                    <img src="/img/eclipse-2.svg" alt="">
                                </i>
                                <div class="slider__img-wrapper">
                                    <img src="/img/slide-2.png" alt="Слайд 2" class="slider__img" loading="lazy">
                                </div>
                            </a>
                            <div class="slider__content">
                                <h4>Вопрос вопрос вопрос?</h4>
                                <p>Текст Текст Текст Текст Текст Текст </p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide swiper-slide-3">
                        <div class="slider__item">
                            <a href="/img/slide-3.png" class="slider__img-link" data-fancybox
                               data-caption="Single image">
                                <i class="slider__img-eclipse">
                                    <img src="/img/eclipse-3.svg" alt="">
                                </i>
                                <div class="slider__img-wrapper">
                                    <img src="/img/slide-3.png" alt="Слайд 3" class="slider__img" loading="lazy">
                                </div>
                            </a>
                            <div class="slider__content">
                                <h4>Вопрос вопрос вопрос?</h4>
                                <p>Текст Текст Текст Текст Текст Текст </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-important">
                *текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
                текст текст текст текст текст текст текст текст текст текст текст текст текст текст.
            </div>
        </div>
    </div>
</section>