<div class="content-box">
    <div class="social-box">
        <div class="container">
            <div class="social-box__wrapper">
                <div class="social-box__text">
                    Текст текст текст текст текст
                    текст текст
                </div>
                <div class="form social-box__form-box form--line">
                    <form id="form-line" action="" class="social-box__form">
                        <div class="form__field">
                            <input type="text" class="form__input" placeholder="Введите свой e-mail"  required value="">
                        </div>
                        <div class="form__field form__field--button js-button-submit">
                            <button class="btn btn--md">
                                <span class="btn__content form__btn-default">Подписаться</span>
                            </button>
                        </div>
                    </form>
                </div>

                <div class="social-box__socials socials">
                    <div class="socials__title">МЫ В СОЦ.
                        СЕТЯХ:
                    </div>
                    <div class="socials__list">
                        <a href="##" class="socials__link">
                            <i class="socials__icon-wrapper">
                                <img src="/img/vk.svg" alt="" class="socials__icon">
                            </i>
                        </a>
                        <a href="##" class="socials__link">
                            <i class="socials__icon-wrapper">
                                <img src="/img/fb.svg" alt="" class="socials__icon">
                            </i>
                        </a>
                        <a href="##" class="socials__link">
                            <i class="socials__icon-wrapper">
                                <img src="/img/inst.svg" alt="" class="socials__icon">
                            </i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>