<nav class="top-menu">
    <div class="container">
        <div class="top-menu__wrapper">
            <ul class="top-menu__list">
                <li class="top-menu__item">
                    <a href="##" class="top-menu__link">Текст текст</a>
                </li>
                <li class="top-menu__item">
                    <a href="##" class="top-menu__link">Текст текст текст</a>
                </li>
                <li class="top-menu__item">
                    <a href="##" class="top-menu__link">Текст текст</a>
                </li>
                <li class="top-menu__item">
                    <a href="##" class="top-menu__link">Текст текст</a>
                </li>
                <li class="top-menu__item">
                    <a href="##" class="top-menu__link">Текст текст</a>
                </li>
                <li class="top-menu__item">
                    <a href="##" class="top-menu__link">Текст текст</a>
                </li>
            </ul>

            <div class="search-header top-menu__search">
                <button class="search-header__btn js-search-header">
                    <i class="search-header__icon">
                        <svg viewBox="0 0 24 24" class="svg-icon">
                            <use xlink:href="/img/sprite.svg#search"></use>
                        </svg>
                    </i>
                </button>
                <div class="search-header__form-box js-search-header-form">
                    <form id="search-header-form" action="" class="search-header__form">
                        <input type="text" placeholder="Поиск" value="" class="search-header__input">
                    </form>
                </div>
            </div>
        </div>
    </div>
</nav>