h1, .h1 {
	font-size: 28px;
	line-height: 36px;

	@include tablet {
		font-size: 42px;
		line-height: 50px;
	}
}

h3, .h3 {
	font-size: 20px;
	line-height: 28px;

	@include tablet {
		font-size: 28px;
		line-height: 38px;
	}
}

h4, .h4 {
	font-size: 20px;
	line-height: 28px;
}